
/*=======================
        MAIN STYLES
=========================*/

*{
   box-sizing: border-box;
}

body {
  padding: 0;
  border: 0;
  background-color: #ccc;
  background-image: url(./img/tweed_@2x.png);
  font-family: 'Raleway', sans-serif;
}

.grid {
  width: auto;
  max-width: 700px;
  margin:45px auto;
  height: 550px;
  background: #393539;
  padding: 50px;
  border-radius: 0.285em;
  box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.1);
}

.grid h1 {
  background-color: #777e85;
  font-size: 2em;
  text-align: center;
  color: #fff;
  padding: 2px 0px;
  border-radius: 25px;
}

.grid #question {
  font-size: 30px;
  color: #ccc;
}

.buttons {
  margin-top: 30px;
}

#btn0,
#btn1,
#btn2,
#btn3 {
  background-color: #777e85;
  width: 250px;
  font-size: 20px;
  color: #fff;
  border-radius: 25px;
  margin: 10px 30px 10px 0px;
  padding: 10px;
}

#progress {
  color: #2b2b2b;
  font-size: 18px;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background-color: #57636e;
}

p #question {
  font-weight: bolder;
}

#progress {
  color: #bdbdbd;
}

@media (max-width: 769px) {

  #btn0,
  #btn1,
  #btn2,
  #btn3 {
    width: 100px;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
  }

  p {
    font-size: 10px;
  }

  .grid {
    padding: 20px;
    width: 100%;
  }
}
